/* Enter your custom styles here */
.withBgImg{
    width: 100% !important;
    
}
.imgopacity::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* background-color: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)) !important; */
    background-color: rgba(255, 255, 255, 0.295) !important;
    
  }

.imgopacity:hover::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* background-color: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)) !important; */
    background-color: rgba(255, 255, 255, 0) !important;
  }

.colorBlack {
    color: black !important;
    text-shadow: rgb(231, 231, 231) 0px 0px 1px,   rgb(231, 231, 231) 0px 0px 1px,   rgb(231, 231, 231) 0px 0px 1px,
             rgb(231, 231, 231) 0px 0px 1px,   rgb(231, 231, 231) 0px 0px 1px,   rgb(231, 231, 231) 0px 0px 1px;
  }

